body {
    background: #1b1d1c;
}

input {
    -webkit-border-radius:10px;
    -moz-border-radius:2px;
}
.container {
    width: 96% ;
    margin: 2% ;
    color: #FFF;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
}
.container a {
    color: #00F;
    text-decoration: none;
}

.navbar {
    padding: 20px;
    background-image: url("../images/headerbg.jpg");
    color:white;
    text-align:center;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
}

.navbar a {
    color:white;
}

.fixed {
    width: 30%;
    background: #d1d2d6;
    margin: 1%;
    color: black;
    float: left;
    -webkit-border-radius: 10px;
    -moz-border-radius:10px;
}

.head {
    text-align:center;
}

.content {
    text-align:center;
    background: #212121;
    color: #FFF;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
}

